# ignore .o .lo
*.o
*.lo
*.a
*.Plo
*.la
*.out
*.lai
*.so
*.so.0
*.so.0.0.0
Makefile
Makefile.in
.libs/
.deps/
config.log
config.status
configure
libtool
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
aclocal.m4
stamp-h1
/config.h
/config.h.in
autom4te.cache/
m4/